@model IEnumerable<blogsite.Models.DTO.ResponseDTO.PostResponseDTO>

@{
    ViewData["Title"] = "UserAccount";
}
<div class="container justify-content-center align-items-center" style="max-width:750px;">
    <h1 class="text-center">Blogs</h1>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="card" style="flex: 0 0 30%; margin: 10px;">
                <div class="card-body" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
                    <img style="width: 100%; height: 100%" src="" alt="Card image cap">
                    <div style="padding: 10px;">
                        <h5 class="card-title text-center" style="margin: 0;">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p style="margin: 0; display: -webkit-box;overflow: hidden; -webkit-box-orient: vertical; 
                            -webkit-line-clamp: 2;">@Html.DisplayFor(modelItem => item.Content)</p>
                        <div class="align-items-center d-flex justify-content-between">
                            <form asp-action="ViewPost" asp-controller="Post" asp-route-itemid="@item.Id">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" style="background: none; border: none; padding: 0;">
                                    Read more
                                </button>
                            </form>
                            <small style="margin: 0;padding-left:100px">Posted on @item.CreatedOn.ToString("MMMM dd, yyyy")</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="container position-static justify-content-center align-content-center">
    <h4 class="text-center"> Hello @ViewBag.Name</h4>

    <div class="form-group text-center justify-content-center align-items-center">
        <a class="btn btn-primary" style="margin-right:10px" type="button" asp-controller="Post" asp-action="CreatePost">
            Create Blog
        </a>
        <a class="btn btn-primary" style="margin-right:10px" type="button" asp-controller="Post" asp-action="UserPosts">
            My Blogs
        </a>
    </div>
</div>
