@model IEnumerable<blogsite.Models.DTO.ResponseDTO.PostResponseDTO>

@{
    ViewData["Title"] = "UserAccount";
}
<div class="container justify-content-center align-items-center" style="max-width:750px;">
    <h1 class="text-center">Blogs</h1>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="card" style="flex: 0 0 30%; margin: 10px;">
                <div class="card-body" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
                    <img style="width: 100%; height: 100%" src="" alt="Card image cap">
                    <div style="padding: 10px;">
                        <h5 class="card-title" style="margin: 0;">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p style="margin: 0; display: -webkit-box;overflow: hidden; -webkit-box-orient: vertical; 
                            -webkit-line-clamp: 1;">@Html.DisplayFor(modelItem => item.Content)</p>
                        <div class="align-items-center d-flex justify-content-between">
                            @* <form asp-action="likepost" asp-controller="post" asp-route-itemid="@item.Id">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="like-btn" style="background: none; border: none; padding: 0;">
                                    <i class="bi bi-heart-fill "
                                       style="color: red;display: @(item.LikedByCurrentUser ? "inline-block" : "none")"></i>
                                    <i class="bi bi-heart"
                                       style="display: @(item.LikedByCurrentUser ? "none": "inline-block")"></i>
                                </button>
                                <span>@Html.DisplayFor(modelItem => item.LikeCount)</span>
                            </form> *@
                                <div class="btn-group">
                                    <a href="#" class="btn btn-sm btn-outline-secondary">Read More</a>
                                </div>
                            <small style="margin: 0;padding-left:100px">Posted on @item.CreatedOn.ToString("MMMM dd, yyyy")</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="container position-static justify-content-center align-content-center">
    <h4 class="text-center"> Hello @ViewBag.Name</h4>

    <div class="form-group text-center justify-content-center align-items-center">
        <a class="btn btn-primary" style="margin-right:10px" type="button" asp-controller="Post" asp-action="CreatePost">
            Create Blog
        </a>
        <a class="btn btn-primary" type="button" asp-controller="Post" asp-action="ViewPost">
            My Blogs
        </a>
    </div>
</div>
